/*********************** Add new more **************************/

.user-company {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
    color: #fff;
    font-weight: 400;
}

  .dt-body-center {
    text-align: center;
  }

  .td-body-middle {
    vertical-align: middle !important;
  }

  .toggle-icon {
    float: right;
  }

  .toggle-sub-icon {
    float: right;
  }

  .toggle-click {
    cursor: pointer;
  }

  .bs-glyphicons {
    padding-left: 0;
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    overflow: hidden;
  }
  .bs-glyphicons li {
    float: left;
    width: 25%;
    height: 90px;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #ddd;
  }

  .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word; /* Help out IE10+ with class names */
  }
  
  .bs-glyphicons li:hover {
    background-color: rgba(86,61,124,.1);
  }

  @media (min-width: 768px) {
    .bs-glyphicons li {
      width: 12.5%;
    }
  }

label.error {
    color: red;
    font-style: italic;
    margin-left: 10px;
    width: auto;
}

fieldset {
  background: #ffffff;
  border: 1px solid #e6e8e8;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 25px;
  position: relative;
}
  fieldset legend {
      background: inherit;
      font-size: 15px;
      left: 10px;
      padding: 0 10px;
      position: absolute;
      top: -12px;
      font-weight: 700;
      width: auto !important;
      border: none !important;
  }

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height: auto;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    height: 300px;
    list-style: none;
    margin: 5px;
    padding-top: 15px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #fff;
}

#datatable_list_filter {
  display: none;
}

.column_filter[readonly] {
    background-color: #fff;
}

.image_thumb, .image_thumb_list {
    display: flex;
    flex-wrap: wrap;
  }
  .image_box {
    position: relative;
  }
    .image_box .image_tools {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
      .image_box .image_tools:hover {
        opacity: 1;
      }

    .image_box .image_tools_mb {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
      .image_box .image_tools_mb:hover {
        opacity: 1;
      }
      
        .image_box .image_tools_mb, .image_box .image_tools_select, .image_box .image_tools_select_mb {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
          .image_box .image_tools_mb:hover, .image_box .image_tools_select:hover, .image_box .image_tools_select_mb:hover {
            opacity: 1;
          }
  .flex-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
  }
    .flex-center i {
      margin: 0;
      font-size: 60px;
      text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    }
  .hover-opacity, .hover-opacity:after {
    background-color: rgba(175, 175, 175, 0.3);
  }

  /********** CSS For Upload Files **********/
  .preview > canvas {
    width: 100%;
  }

  .image_box > p {
    margin: 10px 0;
  }
  .image_box > .progress {
    margin-bottom: 0px;
  }